form{
    position: absolute;
    left: 30%;
    top: 10%;
    border: 2px solid rgb(0, 0, 0);
    padding: 25px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2)
}

form .details button{
    position: relative;
    left: 90%;
    border-radius: 2px;
    background: skyblue;
}

form .details, form .age{
    border: 2px solid grey;
    padding: 5px;
    background: #fff;
}

.submit{
    margin: 5px;
}